body{
    background-color: black;
    
}
.container{
    display: flex;
    justify-content: center;
}
#fundo{
    height: 768px;
    background-image: url(./img/34695-NBA_Jam_\(USA\)-1.png); 
}

#titulo{
    padding-top: 50px;
    text-align: center;
    font-size: 45px;
    text-decoration: white;
    color: antiquewhite ;
    background-color: rgba(255, 228, 196, 0.153);
    align-items: center;
}

.info{
    float: left;
    background-color: rgba(0, 0, 0, 0.31);
    padding: 20px;
    width: 50%;
    
}
.entraInfo{
   text-align: center;
   font-size: 20pt;
   font-family: sans-serif;
   color: white;
   

}

.entra{
    text-align: center;
}

#botao{
    width: 50%;
    text-align: center;
}

.button {
    font-size: 20px;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition-duration: 0.1s;
  }
  
  .button:hover {
    background-color: #d11f0f; 
    color: white;
    width: 103%;
  }

  #fundoCard{
    width: 50%;
  }

  #h2{
    padding: 10px;
    text-align: center;
    font-size: 20pt;
    font-family: sans-serif;
    color: white;
    width: 643.5;
    height: 400px;
  }

  #img{
    margin-top: 40px;
    background-image: url(./img/istockphoto-1128562023-170667a-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 300px;
  }

  .recebeJoga{
    color: white;
    padding: 25px;
    margin-top: 40px;
    font-size: 17pt;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.31);
    width: 50%;      
  }